body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 940px;
    margin: 0 auto;
}
h1{
    background-color: #E1EDF2;
    color: #3D3D3D;
    padding: 10px;
}
h2 {
    border-bottom: 2px solid #000;
}
figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    margin-right: 15px;
    margin: 30px auto;
    padding: 15px;
}
figure img{
    max-width: 100%;
}
.familia-tupfeln{
    width: 275px;
    margin: 30px 0;
    text-align: center;
    float: right;
}
.FiguraMatriz{
   width: 550px;
}
figcaption{
    padding-top: 10px;
}
