body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 940px;
    margin: 0 auto;
}
.titulo{
    background-color: #E1EDF2;
    color: #3D3D3D;
    padding: 10px;
}
.subtitulo {
    border-bottom: 2px solid #000;
}
figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    margin-right: 15px;
    margin: 30px auto;
    padding: 15px;
}
figure img{
    max-width: 100%;
}
.familia-tupfeln{
    width: 275px;
    float: right;
}
.FiguraMatriz{
   width: 550px;
}
figcaption{
    padding-top: 10px;
}
form{
    width: 500px;
}
input, textarea {
    width: 500px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
  
textarea {
    height: 300px;
}
  
button {
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
}